.events {
    padding: 2rem 1rem;
    text-align: center;
    font-size: 17px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}
